<html>

<head>
    <title>チャットしよう</title>
    <style>
        input {
            display: block;
        }

        ul {
            list-style: none;
        }

    </style>
</head>

<body>
    <ul id="messages"></ul>
    WebSocketをつかったチャットアプリケーション
    <form id="chatbox">
        {{.UserData.nickname}}:<br />
        <textarea></textarea>
        <input type="submit" value="送信" />
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function () {
            let socket = null
            let msgBox = $("#chatbox textarea")
            var messages = $("#messages")
            $("#chatbox").submit(function () {
                if (!msgBox.val()) return false
                if (!socket) {
                    alert("error!")
                    return false
                }
                socket.send(JSON.stringify({ Message: msgBox.val() }))
                msgBox.val("")
                return false
            })

            if (!window["WebSocket"]) {
                alert("Not compatible with WebSocket")
            } else {
                socket = new WebSocket("ws://{{.Host}}/room")
                socket.onclose = function () {
                    alert("closed connection")
                }
                socket.onmessage = function (e) {
                    console.log("socket.onmessage")
                    var msg = JSON.parse(e.data)
                    messages.append($("<li>").append(
                        $("<strong>").text(msg.Name + " : "),
                        $("<span>").text(msg.Message),
                    ))
                }
            }
        })
    </script>
</body>

</html>
